    
    
.main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    position:absolute;
    align-items: center;
    color:white;
}
.text{
    color:rgb(255, 255, 255);
    font-size: larger;
}

button{
    margin-top: 30px;
    border-radius: 25px;
    margin-left: 65px;
}
/* 
input:invalid {
    background-color: #f70808;
  }
input:valid {
    background-color: #81e781;
  } 
  */
.haserror {
    background-color: #f58f8f;
  }
  
  